
/* ADD @import statements ABOVE this line  */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Mountains+of+Christmas:wght@400;700&display=swap');
/*  ------------------------------------------------------
    BASIC PAGE STYLING
    Here you can set typography, colors and overall page styling
    ------------------------------------------------------ */
html{
    font-size: 100%;
    font-family: "Mountains of Christmas", serif;
}
body{
    /* Here you can set your default font-family, line-height 
        You can also use max-width and auto margins to limit the width of the page content
        If you set a background-color here it will be the site background color.
    */
    background-color: #f5dcd7;

}

h1,h2,h3,h4,h5,h6{
    /* Here you can set the font-family for your headings */
    text-align: center;

}
main{
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}

/*  ------------------------------------------------------
    HYPERLINK STYLING 
    Change the colors here to match the colors you want for your site.
    ------------------------------------------------------ */ 
a{
    color: #1313f1;
    text-decoration: none;
    border-bottom: 1px solid #1313f1;
}
a:hover{
    color: #0fa4df;
    border-bottom: 3px solid #0fa4df;
}
a:visited{
    border-bottom: 1px solid #ff0000;
}

/*  ------------------------------------------------------
    NAVIGATION STYLING 
    This turns an unordered list in the nav element to a horizontal menu
    It also sets the color for the navigation.
    ------------------------------------------------------ */ 

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}
    nav{
    background-color: #00642a;
    padding: 10px;
}
    nav ul{
    margin: 0;
    padding: 0;
}
nav li
{
    display: inline; /* brings nav elements up next to each other */
    list-style-type: none; /* removes the bullet points */
    padding-right: 20px; /* spaces them out from each other. Adjust to suit your needs */
}
/* Change this to whatever color you want your nav and visited nav links to be */
nav li a{
    color: #dffd32;
    border-bottom: none;
}
nav li a:{
    color: #1313f1;
    
}

/*  ------------------------------------------------------
    MEDIA STYLING 
    These styles affect how images and audio look on the page.
    ------------------------------------------------------ */ 
/* Responsive Image Base */
img,video{
    max-width: 100%; 
    height: auto;
}


  header{
    text-align: center;
    background-color: red;
    font-family: "Mountains of Christmas", serif;
    color: white;
  }

  figcaption{
    font-size: small ;
  }

  .text{
    font-size: xx-large;
    text-align: center;
    color: black;
  }

  .donate{
    text-align: center;
  }

.Homepic{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.credit{
    font-size: small;
}

.story{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.storya{
    text-align: center;
}

.ABS{
    font-size: x-large;
}

footer{
    position: fixed;
    bottom: 0px;
}

.contact form {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-top: 10px;
    font-weight: bold;
}

.caption{
    text-align: left;
}

.button{
    background-color: #f70a0a;
    color: rgb(249, 255, 67); 
    border: none; 
    cursor: pointer; 
    padding: 10px 20px;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    font-size: 28px;
}

button:hover{
    color: rgb(111, 0, 0);
    border-bottom: 3px solid #007a29;
}